# ----------------------------------------------------------------------------------------------------------------------
# USER SERVICE MYSQL
# ----------------------------------------------------------------------------------------------------------------------

USER_SERVICE_MYSQL_DB_HOST=user-mysql
USER_SERVICE_MYSQL_DB_PORT=3309
USER_SERVICE_MYSQL_DB_NAME=users_db
USER_SERVICE_MYSQL_DB_USER=user
USER_SERVICE_MYSQL_DB_PASSWORD=
USER_SERVICE_MYSQL_DB_ROOT_PASSWORD=
USER_SERVICE_MYSQL_INNODB_BUFFER_POOL_SIZE=256M
USER_SERVICE_MYSQL_MAX_CONNECTIONS=200

# ----------------------------------------------------------------------------------------------------------------------
# USER SERVICE
# ----------------------------------------------------------------------------------------------------------------------

USER_SERVICE_PORT=8084
USER_SERVICE_MAIL_HOST=smtp.gmail.com
USER_SERVICE_MAIL_USERNAME=
USER_SERVICE_MAIL_PASSWORD=
USER_SERVICE_MAIL_PORT=587

# Generate: openssl rand -base64 32 | tr -d '\n'
USER_SERVICE_INTERNAL_SECRET=
SPRINGDOC_API_DOCS_SWAGGER_ENABLED=false
