# ----------------------------------------------------------------------------------------------------------------------
# USER SERVICE MYSQL
# ----------------------------------------------------------------------------------------------------------------------

USER_SERVICE_MYSQL_DB_HOST=user-mysql
USER_SERVICE_MYSQL_DB_PORT=3309
USER_SERVICE_MYSQL_DB_NAME=users_db
USER_SERVICE_MYSQL_DB_USER=user
USER_SERVICE_MYSQL_DB_PASSWORD=
USER_SERVICE_MYSQL_DB_ROOT_PASSWORD=
USER_SERVICE_MYSQL_INNODB_BUFFER_POOL_SIZE=256M
USER_SERVICE_MYSQL_MAX_CONNECTIONS=200


# ----------------------------------------------------------------------------------------------------------------------
# USER SERVICE
# ----------------------------------------------------------------------------------------------------------------------

USER_SERVICE_PORT=8083
USER_SERVICE_APPLICATION_NAME=user-service

USER_SERVICE_MAIL_HOST=smtp.gmail.com
USER_SERVICE_MAIL_USERNAME=
USER_SERVICE_MAIL_PASSWORD=
USER_SERVICE_MAIL_PORT=587

# Wygeneruj: openssl rand -base64 32 | tr -d '\n'
USER_SERVICE_INTERNAL_SECRET=
USER_SERVICE_MFA_ISSUER=


# ----------------------------------------------------------------------------------------------------------------------
# AUTH SERVICE
# ----------------------------------------------------------------------------------------------------------------------

AUTH_SERVICE_PORT=8084
AUTH_SERVICE_APPLICATION_NAME=auth-service

AUTH_REDIS_HOST=auth-redis
AUTH_REDIS_PORT=6379
AUTH_REDIS_PASSWORD=

# Wygeneruj: openssl rand -base64 64 | tr -d '\n'
AUTH_JWT_SECRET=
AUTH_JWT_ACCESS_TOKEN_EXPIRATION_MS=300000
AUTH_JWT_REFRESH_TOKEN_EXPIRATION_MS=3000000

AUTH_USER_SERVICE_URL=http://user-service:8083
# Musi być taki sam jak USER_SERVICE_INTERNAL_SECRET
AUTH_SERVICE_INTERNAL_SECRET=

# ----------------------------------------------------------------------------------------------------------------------
# API GATEWAY SERVICE
# ----------------------------------------------------------------------------------------------------------------------

API_GATEWAY_SERVICE_PORT=8085
API_GATEWAY_SERVICE_APPLICATION_NAME=api-gateway-service
# Musi być taki sam jak AUTH_JWT_SECRET
API_GATEWAY_JWT_SECRET=
API_GATEWAY_USER_SERVICE_URL=http://user-service:8083
API_GATEWAY_AUTH_SERVICE_URL=http://auth-service:8084

SPRINGDOC_ENABLED=false
