# Git
.git
.gitignore

# IDE
.idea
*.iml
.vscode

# Build output
target

# Docker
docker-compose.yml
.dockerignore
Dockerfile

# Environment
.env
.env.example

# Documentation
README.md
LICENSE
HELP.md

# CI/CD
.github

# API collections
api-collections
